.preview-content-container {
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: transform 0.15s linear 0.15s;
  backface-visibility: hidden;
}

.preview-content-container-desktop:hover {
  transform: translateZ(0) scale(1.015);
  cursor: pointer;
}
