.preview-container {
  padding: var(--list-item-padding);
}

.preview-content-header-container {
  height: 4rem;
}

.preview-content-header-container > i {
  margin-left: auto;
}

.preview-content-app-icon {
  --app-icon-size: 4rem;
  width: var(--app-icon-size);
  min-width: var(--app-icon-size);
  max-width: var(--app-icon-size);
  height: var(--app-icon-size);
  min-height: var(--app-icon-size);
  max-height: var(--app-icon-size);
  border-radius: 14px;
  border: 1px solid var(--app-icon-border-color);
  overflow: hidden;
}

.preview-content-app-icon > img {
  width: 100%;
  object-fit: cover;
}

@media (prefers-color-scheme: dark) {
  .preview-content-app-icon {
    background: linear-gradient(180deg, rgba(28, 28, 28, 1) 20%, rgba(15, 15, 15, 1) 80%);
  }
}
