.navbar-glass {
  background-color: var(--glassBackground);
  backdrop-filter: blur(var(--glassBlur));
  width: fit-content;
  margin: 12px;
  border-radius: 12px;
  left: unset;
  position: fixed !important;
  top: 0;
  right: 0;
  z-index: 1000;
}
