.form-control,
.form-control:focus {
  background-color: var(--accentColor);
  border: none;
  color: white;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: var(--accentColor);
}
.form-control:focus {
  border-color: var(--accentColor);
  box-shadow: 0 0 0 0.25rem rgba(var(--primaryTextColorValues), 0.75);
}

.form-control::placeholder,
.form-control::-webkit-contacts-auto-fill-button {
  color: var(--mutedTextColor);
  opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--primaryTextColor);
  box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 1000s ease-in-out 0s;
}

input:not(input:-webkit-autofill)::-webkit-contacts-auto-fill-button {
  background-color: var(--secondaryColor);
}
