.select-container {
  position: relative;
  align-content: end;
}

.select-menu {
  --select-item-padding: 1rem;
  --select-item-icon-font-size: 1em;
  --select-item-icon-margin: 0.5rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 125%;
  right: -1.25rem;
  z-index: 100;
  padding: 0.5rem;
  border-radius: 22px;
  border: 2px solid var(--accent-color);
  background-color: var(--primary-color);
}

.select-menu-arrow {
  position: absolute;
  top: -1.25rem;
  right: 1rem;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--accent-color);
  border-left: 10px solid transparent;
  z-index: -100;
}

.select-menu > p,
.select-item {
  padding: calc(var(--select-item-padding) / 2) var(--select-item-padding);
}

.select-item {
  display: flex;
  padding-right: calc(
    var(--select-item-padding) +
    var(--select-item-icon-font-size) +
    var(--select-item-icon-margin)
  );
  border-radius: 0.75rem;
}
.select-item:active {
  background-color: unset;
}

.select-item:hover {
  background-color: var(--accent-color);
}

.select-item > i {
  font-size: var(--select-item-icon-font-size);
  margin-right: var(--select-item-icon-margin);
}
