.section-fluid {
  margin: 0px var(--containerMargin);
}

.section > h2 {
  letter-spacing: var(--letterSpacingLg);
  word-break: break-word;
}

.section-xs > h2 {
  font-size: 1rem;
}

.section-sm > h2 {
  font-size: 1.5rem;
}

.section-md > h2 {
  font-size: 2rem;
}

.section-lg > h2 {
  font-size: 2.5rem;
}

.section-xl > h2 {
  font-size: 3rem;
}

.section-xs {
  padding: 1rem 0;
}

.section-sm {
  padding: 2rem 0;
}

.section-md {
  padding: 4rem 0;
}

.section-lg {
  padding: 6rem 0;
}

.section-xl {
  padding: 12rem 0;
}
.section-ignore-bottom {
  padding-bottom: 0;
}
