:root {
  color-scheme: light dark;
  --navbarHeight: 56px;

  --primaryColor: #ffffff;
  --secondaryColor: #000000;
  --accentColor: rgb(248, 249, 250);

  --primaryTextColor: rgb(33, 37, 41);
  --secondaryTextColor: rgb(248, 249, 250);
  --mutedTextColor: rgba(255, 255, 255, 0.7);

  --primaryBorderColor: var(--primaryTextColor);
  --secondaryBorderColor: var(--secondaryTextColor);

  --primaryBackgroundColor: var(--primaryTextColor);
  --secondaryBackgroundColor: var(--secondaryTextColor);

  --primaryHoverColor: var(--secondaryTextColor);
  --secondaryHoverColor: var(--primaryTextColor);

  --titleFontSize: 10vmin;
  --subTitleFontSize: 4vmin;
  --headingFontSize: 3vmin;

  --projectImageSize: 4rem;
  --projectImageSizeHovered: 4.5rem;

  --letterSpacingSm: 2px;
  --letterSpacingLg: 4px;

  --borderRadius: 1rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--primaryColor) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
  color: var(--primaryTextColor) !important;
}

.navbar-spacer {
  margin-top: var(--navbarHeight);
}

.anchor {
  position: relative;
  top: -75px;
  left: 0;
}
