:root {
  color-scheme: light dark;
  --navbarHeight: 56px;
  --primaryColor: #3498db;
  --secondaryColor: #2c3e50;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-spacer {
  margin-top: var(--navbarHeight);
}

.top-anchor {
  position: absolute;
  top: calc(var(--navbarHeight) + -3rem);
  left: 0;
}

.anchor {
  position: relative;
  top: -75px;
  left: 0;
}
