:root {
  --border-radius: 61.25rem;
  --content-max-width: 100rem;
  --content-padding: 2rem;
  --inset: max(
    var(--content-padding),
    calc((100vw - var(--content-max-width)) / 2 + var(--content-padding))
  );
  --content-padding-mobile: 1.25rem;
  --section-padding-vertical-mobile: 3.75rem;

  --transition-fast: 100ms ease;
  --transition-base: 150ms ease;
  --transition-slow: 200ms ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

html {
  scroll-padding-top: 3rem;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus-visible {
  outline: 0.125rem solid var(--interactive-color);
  outline-offset: 0.1875rem;
  border-radius: 0.1875rem;
}

button {
  all: unset;
  -webkit-tap-highlight-color: transparent;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  w: hidden;
  pace: nowrap;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -clip-path: inset(50%);
  clip-path: inset(50%);
}
